input:invalid {
  background-color: pink;
}

b.emphasis {
  text-decoration: underline;
}

iframe.PDF {
  width: 800px;
  height: 500px;
}

img.imageView, video.video, audio.audio {
  max-width: 700px;
  max-height: 500px;
}

video.previewMedia {
  float: left;
  width: 500px;
}

div.recordedMedia {
  float: left;
  width: 500px;
}

video.recordedMedia {
  max-width: 500px;
}

.view-binary, .view-text {
  width: 300px;
  height: 300px;
}

.visualizer {
  height: 60px;
}

[data-type="undef"], [data-type="void"] {
  background-color: green;
}
[data-type="null"] {
  background-color: lightgreen;
}
[data-type="nan"] {
  background-color: green;
}

[data-type="true"] {
  background-color: blue;
  color: white;
}
[data-type="false"] {
  background-color: pink;
}
[data-type="boolean"] {
  background-color: aqua;
}
[data-type="number"] {
  background-color: violet;
}
[data-type="string"] {
  background-color: lightblue;
}
[data-type="array"], [data-type="sparseArrays"], [data-type="arrayNonindexKeys"], [data-type="tuple"] {
  background-color: lightyellow;
}
[data-type="object"], [data-type="record"] {
  background-color: orange;
}


[data-type="arrayReference"] {
  color: white;
  background-color: indigo;
}
[data-type="objectReference"] {
  color: white;
  background-color: purple;
}
[data-type="date"] {
  background-color: teal;
}
[data-type="regexp"] {
  background-color: yellow;
}
[data-type="SpecialNumber"], [data-type="SpecialRealNumber"] {
  background-color: red;
}
[data-type="BooleanObject"], [data-type="NumberObject"], [data-type="StringObject"] {
  background-color: aqua;
}
[data-type="blobHTML"] {
  background-color: sandybrown;
}
[data-type="error"], [data-type="errors"] {
  background-color: red;
}

[data-type="file"] {
  background-color: beige;
}

[data-type="filelist"] {
  background-color: bisque;
}

[data-type="blob"] {
  background-color: lightgray;
}

[data-type="buffersource"] {
  background-color: beige;
}

[class^="propertyName-"] {
  background-color: yellow;
}

.typedArrayArea {
  overflow: auto;
  max-height: 250px;
}

/* -128 to 127 */
.typedArray-Int8Array {
  width: 45px;
}

/* 0 to 255 */
.typedArray-Uint8Array {
  width: 45px;
}

/* 0 to 255 */
.typedArray-Uint8ClampedArray {
  width: 45px;
}

/* -32768 to 32767 */
.typedArray-Int16Array {
  width: 65px;
}

/* 0 to 65535 */
.typedArray-Uint16Array {
  width: 65px;
}

/* -2147483648 to 2147483647 */
.typedArray-Int32Array {
  width: 100px;
}

/* 0 to 4294967295 */
.typedArray-Uint32Array {
  width: 100px;
}

/* -3.4e38 to 3.4e38 */
.typedArray-Float32Array {
  width: 120px;
}

/* -1.8e308 to 1.8e308 */
.typedArray-Float64Array {
  width: 120px;
}

/* -2^63 to 2^63 - 1 */
.typedArray-BigInt64Array {
  width: 120px;
}

/* 0 to 2^64 - 1 */
.typedArray-BigUint64Array {
  width: 120px;
}
